@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');


:root {
  --blue: #031D33;
  --green: #01DF72;
}


.MovieItem {
  background-color: var(--blue);
  border: 3px solid var(--green);
  width: 233px;
  height: 368px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  transition: all .4s ease-in-out;
  cursor: pointer;
}


.MovieItem:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  transform: translateY(-5px);
}

.MovieItem img {
  margin-left: -0.5px;
  width: 227.8px;
  height: 318px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}


.movieItemName {
  color: white;
  margin-top: 5px;
}


@media screen and (max-width: 1260px) {
  .MovieItem {
    width: 280px;
    height: 409px;
  }

  .MovieItem img {
    width: 273.5px;
    height: 350px;
  }
}



@media screen and (max-width: 895px) {
  .MovieItem {
    width: 350px;
    height: 420px;
  }

  .MovieItem img {
    width: 344px;
    height: 365px;
  }
}



@media screen and (max-width: 750px) {
  .MovieItem {
    width: 300px;
    height: 400px;
  }

  .MovieItem img {
    width: 294px;
    height: 345px;
  }
}