.TrendingMovies {
  /* margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-template-rows: repeat(2px, 1fr);
  gap: 10px; */
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
}



.TrendingMovies::-webkit-scrollbar {
  margin-top: 100px;
  height: 3px;
  width: 2px;
}
.TrendingMovies::-webkit-scrollbar-track {
  background: #000;
  border: 1px solid rgb(92, 92, 92);
}
.TrendingMovies::-webkit-scrollbar-thumb {
  width: 10px;
}